<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <a class="navbar-brand font-weight-bold text-white" href="#">Techno Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">laptop</a>
            <a class="dropdown-item" href="#">phone</a>
            <a class="dropdown-item" href="#">accessories</a>
            <a class="dropdown-item" href="#">camera</a>

        </li>
      </ul>

      <% if(!isLogin){ %> 
        <a href="/login" class="btn btn-outline-light my-2 mx-2 px-4 font-weight-bold" style="background-color: limegreen;">Login</a>
        <a href="/register" class="btn btn-outline-light my-2 font-weight-bold" style="background-color: orange;">Register</a>
      <% } else {%> 

        <div class="dropdown">
          <button class="btn bg-transparent p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/images/profile-logo.png" alt="avatar" class="avatar-img">
          </button>
          <div class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-danger font-weight-bold" href="/logout">Log out</a>
          </div>
        </div>
      <% } %> 
    </div>
  </nav>